
/*#8AB243 */
.App {
  text-align: center;
}

.hover:hover{
  transform: scale(1.1);
  transition: transform .8s;
  color:#8AB243;
  
}

.text:hover{
  color:#8AB243;
}

@media(max-width:1000px){
  .font-size{
    font-size: 11px !important;
  }
  .title{
    font-size: 14px !important;
  }
}

